*{
    margin: 0;
    padding: 0;

}


header{
    width: 100%;
    font-size: 18px;
    color: #0c3522;
    background-color: rgb(255, 253, 234);
    display: flex;
    justify-content: center;
}

header h1{
    font-weight: 300;
    font-family:Do Hyeon;

}

main{
    font-size: 18px;
    color: rgb(12, 53, 34);
    background-color: #fffdea;
    display: flex;
    justify-content: center;
}

main h1{
    font-weight: 400;
    font-family:IBM Plex Mono;
}

.ola{
    border: 2px solid #0c3522; 
    color:#0c3522 ;

}

#gif1{
  background-image: url('./ASSETS/gifboome.gif');
  background-position: center;
  background-size: cover;
}

#logocvdisplay{
  background-image: url('./ASSETS/logocv.png');
  background-position: center;
  background-size:20%;
  mix-blend-mode:darken;
}

#toy{
  background-image: url('./ASSETS/Group 13.svg');
  background-position: center;
  background-size:20%;
  animation: moveBackground 15s infinite linear;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

#toy h1{
  background-color: #0c3522;
  color: #fffdea;
}

a{
  color: inherit;
}