*{
    margin: 0;
    padding: 0;
}

body{

}

header{
    width: 100%;
    font-size: 66px;
    color: rgb(30, 128, 82);
    background-color: grey;
}

header h1{
    font-weight: 300;
    font-family:IBM Plex Mono ;
}

